{% extends 'base.html.twig' %}

{% block title %}Speech | TTS BackEnd{% endblock %}

{% block body %}
    <div id="headerwrap2">
        <div class="container">
            <div class="row centered">
                <div class="col-sm-12">
                    <h1>Text-To-Speech back-End Script</h1>
                    <h5>{% trans %}Choose a language and type in a text...{% endtrans %}</h5>
                    <div class="row centered pt-5 justify-content-center">
                        <div class="col-sm-8 rounded formWrapper pt-3">
                            {{ form_start(form) }}
                            {{ form_row(form.voice) }}
                            {{ form_row(form.text) }}
                        </div>
                    </div>
                    <div class="row centered pt-2 justify-content-center">
                        <div class="col-sm-8">
                            <img id="wait1" src="{{ asset('lib/images/Infinity-200px.svg') }}" class="waitgif" height="50px" alt="wait"/>
                        </div>
                        {% if showPlayer %}
                        <div class="col-sm-8  pt-3">
                            <audio autoplay class="audioContainerback" id="audioPlayer" controls type="audio/ogg;codecs=opus" crossorigin="anonymous" src="{{ playerSrc }}">{% trans %}Your browser does not support the audio element.{% endtrans %}</audio>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row centered pt-3 flex-wrap-reverse">
                        <div class="col-sm-6 centered">
                            <a href="{{ path('app_tts_index') }}"><img src="{{ asset('lib/images/goback.png') }}" alt="go back" height="50px" title="{% trans %}Go Back{% endtrans %}"/></a>
                        </div>
                        <div class="col-sm-6 centered">
                            <input type="submit" id="playBtn" class="play_btn imgBtn" title="{% trans %}Play{% endtrans %}">
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<p>VARDUMP</p>
    <pre>{{ dump(tab) }}</pre>#}
{% endblock %}