<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Metas -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="Keywords" content="">
        <meta name="Subject" content="">
        <meta name="Copyright" content="Jean-Christophe Rangon">
        <meta name="Author" content="Jean-Christophe Rangon">
        <meta name="Publisher" content="">
        <meta name="Reply-To" content="jc.rangon@gmail.com">
        <meta name="Revisit-After" content="30 days">
        <meta name="expires" content="never">
        <meta name="Robots" content="all">
        <meta name="Rating" content="general">
        <meta name="Distribution" content="global">
        <meta name="Geography" content="Puteaux, France, 92800">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="{{asset('lib/images/apple-icon-57x57.png')}}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{asset('lib/images/apple-icon-60x60.png')}}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('lib/images/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('lib/images/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('lib/images/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('lib/images/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('lib/images/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('lib/images/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('lib/images/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('lib/images/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('lib/images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('lib/images/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('lib/images/favicon-16x16.png') }}">
        <link rel="manifest" href="{{asset('lib/images/manifest.json')}}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('lib/images/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">

        <!-- FB + LinkedIn -->
        <meta name="og:type" content="website">
        <meta name="og:title" content="Template bootstrap">
        <meta name="og:image" content="{{ asset('lib/images/speech-icon-big-720-720.png') }}">
        <meta name="og:description" content="">
        <meta name="og:url" content="https://">

        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@">
        <meta name="twitter:title" content="Template bootstrap">
        <meta name="twitter:image" content="{{asset('lib/images/speech-icon-big-720-720.png')}}">
        <meta name="twitter:description" content="">
        <meta name="twitter:url" content="https://">

        <title>{% block title %}Speech{% endblock %}</title>

        {% block stylesheets %}
            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">
            <!-- Bootstrap -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <!-- Font Awsome -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" samesite="none" secure>
            <!-- Plugin CSS Files -->
            <link rel="stylesheet" href="{{ asset('lib/plugins/hover-pack/hover-pack.css') }}">
            <!-- Main style sheet -->
            <link rel="stylesheet" href="{{ asset('lib/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('lib/css/colors/color-74c9be.css') }}">
        {% endblock %}
    </head>

    <body>
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-sm-8 col-sm-offset-2 mt">
                    <h1>Speech Engine Powered by IBM API</h1>
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <div id="copyrights">
        <div class="container">
            <p>
                &copy; Copyrights <strong>DevnetX Software</strong>. All Rights Reserved
            </p>
            <div class="credits">
                <!--
                  You are NOT allowed to delete the credit link to TemplateMag with free version.
                  You can delete the credit link only if you bought the pro version.
                  Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/marco-bootstrap-agency-template/
                  Licensing information: https://templatemag.com/license/
                -->
                Created with Marco template by <a href="https://templatemag.com/">TemplateMag</a>
            </div>
        </div>
    </div>
    <!-- / copyrights -->

    <!-- Remove for Production -->
    {% include 'data.monitoring.html.twig' %}
    <!-- / Remove for Production -->

        {% block javascripts %}
            <!-- Bootstrap -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <!-- Plugin JS Files -->
            <script type="application/javascript" src="{{ asset('lib/plugins/hover-pack/hover-pack.js') }}"></script>
            <script type="application/javascript" src="{{ asset('lib/plugins/php-mail-form/validate.js') }}"></script>
            <!-- Main JS files -->
            <script type="application/javascript" src="{{ asset('lib/js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>