<!-- data monitoring -->
<div>
    <h1>Data-Monitoring</h1>
    <hr style="width:100%;">
</div>
<div>
    <p><u><strong>VARIABLES DU TEMPLATE:</strong></u></p>
    <pre>{{ dump() }}</pre>

    {# Pour afficher l'objet request  grace a twig : #}
    <p><u><strong>Objet Request:</strong></u></p>
    {{ dump (app.getRequest() )}}

    {# Pour afficher les donnée entrantes grace a twig : #}
    <p><u><strong>Request Method used:</strong></u></p>
    {{ dump (app.getRequest().getMethod() )}}

    <p><u><strong>Données POST:</strong></u></p>
    {{ dump (app.getRequest.request )}}

    <p><u><strong>Données GET:</strong></u></p>
    {{ dump (app.getRequest.query )}}
    {# Peut aussi s'ecrire en notatin courte : #}
    {#{{ dump(app.request.method()) }}#}

    <p><u><strong>Données de Session:</strong></u></p>
    {{ dump(app.session.all) }}
</div>
<!-- / data monitoring -->